fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
redis[asyncio]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pillow
cloudinary
httpx
pydantic[email]
google-auth
requests
